---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Newt from '../components/newt.astro';

---

<Layout title="四条会！">
	<Header></Header>
	<p>hellow yugaki!</p>
	<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Click me</button> -->
	<Newt></Newt>
</Layout>

<style lang="scss">

</style>

<script>

</script>