---
import { Image } from "astro:assets"
import item01 from "../assets/img/sch/sch01.png"
---

<section class="event" id="sec03">
  <div class="inner">
    <h2 class="tit_h2 --ch">イベント</h2>
    <div class="eventBox">
      <div class="eventtxt"></div>
      <div class="eventImg"></div>
    </div>
    <div class="formLink">
      <!-- <a href="" class="btnItem">
        投稿フォームはこちら
      </a> -->
      <p class="btnItem">
        投稿フォーム準備中...
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .event{
    padding-top: 140px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    background: #00D1B5;
    border-radius: 120px 0px 0px 0px;
  }
  .inner {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  z-index: 500;
  padding: 0 40px;
  }
  .formLink{
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
  .btnItem{
    width: 400px;
    padding: 24px;
    font-family: "Zen Kaku Gothic New";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    background: #fff;
    border-radius: 8px;
    color: var(--mian01, #00D1B5);
    transition: 0.3s;
    text-align: center;
    &:hover{
      cursor: url('../assets/img/cursor.svg') 57.5 57.5, auto; /* 画像の中心に合わせる */
      background: #D9D9D9;
    }
  }
</style>

