---
import { Image } from "astro:assets"
import unko from "../assets/img/Logo.svg"
// import fTimg from "../assets/img/footer.png"
---
<div class="ftImg js-parallax">
  <!-- <Image src={fTimg} alt=""></Image> -->
</div>
<footer>
  <div class="foot">
    <Image src={unko} alt="Logo"></Image>
  </div>
</footer>

<style lang="scss">
  .ftImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url("/img/footer.png"); /* 背景画像として設定 */
    background-size: cover; /* 画像を全体に表示 */
    background-position: center center; /* 初期位置を設定 */
    @media (max-width: 765px) {
      height: 150px;
  }
  }
  footer{
    padding: 40px;
    background: #fff;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .foot{
    width: 200px;
  }
</style>

