---
import { Image } from "astro:assets"
import palarax from "../assets/img/paralax01.png"
---


<div class="main-visual js-trigger">
  <Image src={palarax} alt="unko" class="js-animation-section imgs"></Image>
</div>


<style lang="scss">
  .main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      object-position: 50% 50%; 
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ".js-animation-section",
    {
      scale: 0.3, // 初期サイズ (100%)
    },
    {
      scale: 1, // 拡大サイズ (150%)
      scrollTrigger: {
        trigger: ".js-trigger",
        start: "center center",
        scrub: true,
        pin: true,
      },
    },
  );
</script>